@media (prefers-color-scheme: dark) {
    body {
        font-family: courier, monospace;
        background-color: #0b061e;
        color: #e7e8eb;
        height: 100vh;
    }
}

/*      .wrapper {
  justify-content: center;
} */

button {
    width: 170px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
}

#myBtn,
.box-content,
input,
select {
    position: relative;
    background-color: transparent;
    border: 3px solid #00d7c3;
    border-radius: 50px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #00d7c3;
}

#myBtn:hover {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    /* Full width */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.box-content {
    background-color: #0b061e;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.close {
    color: #00d7c3;
    float: right;
    font-size: 28px;
    margin: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.close:hover,
.close:focus {
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
    cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input,
select {
    padding: 16px 16px 16px 28px;
    margin: 1rem;
    font-size: larger;
    color: #fff;
}

select,
select>option {
    padding: 16px 146px 42px 28px;
    background-color: #0b061e;
    border-radius: 50px;
}

select {
    text-align-last: center;
}

option {
    color: white;
}

::placeholder {
    color: #00d7c3;
    opacity: 0.8;
    /* Firefox */
}

form {
    padding-top: 40px;
}

.box-content .user-box {
    position: relative;
}

.user-box label {
    position: absolute;
    top: 23px;
    left: 50px;
    color: #03e9f4;
    font-size: 12px;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus~label,
.user-box input:active~label {
    top: 25px;
    color: #fff;
    font-size: 14px;
}

.user-box input:focus,
.user-box input:active {
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.btn:hover {
    background: #00d7c3;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #00d7c3, 0 0 25px #00d7c3, 0 0 50px #00d7c3,
        0 0 100px #00d7c3;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}